/*----------
GOOGLE FONTS
----------*/

@import url(https://fonts.googleapis.com/css?family=Raleway:400,400italic,600,600italic,700,700italic,800,800italic);


/*-----------------------------
GENERAL STYLES & BASE STRUCTURE
-----------------------------*/

body {
  padding-top: 150px; /* Move down content because we have a fixed navbar that is 150px tall */
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #666;
}

h1 {
  color: #231f20;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 36px;
  margin-bottom: 50px;
  line-height: 62px;
}

h1 span {
  padding-bottom: 6px;
}

h2 {
  color: #231f20;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
}

h3 {
  color: #231f20;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 800;
}

.main p {
  margin-bottom: 40px;
}

.main ul {
  list-style: none;
  padding-left: 0;
  line-height: 36px;
  margin-bottom: 40px;
}

.main .img-responsive {
  margin-bottom: 20px;
}

.main .well .img-responsive {
  margin-bottom: 0;
}

.thumbnail .img-responsive {
  margin-bottom: 0;
}

.media-left {
  margin-right: 25px;
}

.media-left img {
  max-width: 250px;
  height: auto;
  background-color: #F5F5F5;
  padding: 15px;
  border: 2px solid #EEE;
  border-radius: 4px;
}


/*--------------------------------------------
WEIRDLY STYLED LINKS AT THE BOTTOM OF THE PAGE
--------------------------------------------*/

.linklist {
  margin-top: 50px;
}

.linklist li {
  display: block;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 40px;
}

.linklist li a {
  color: #231F20;
  padding: 10px;
  background: #FFF;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	transition: all ease 0.5s;
}


/*-----
 NAVBAR
 --- */

.navbar-fixed-top {
  border: 0;
}

.navbar {
  height: 150px;
  background-color: #231f20;
}

#navbar {
  margin-top: 48px;
}

.navbar a {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.navbar-inverse .navbar-collapse {
  background-color: #231f20;
}

.navbar-inverse .navbar-nav > li > a {
  color: #EEE;
}

.nav > li > a {
  padding-right: 40px;
}

.nav > li:last-child > a {
  padding-right: 0;
}

.navbar-right > li > a {
  font-size: 26px;
  padding-right: 20px;
  padding-top: 10px;
}

.navbar-toggle {
  color: #EEE;
  font-size: 18px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: 50px;
  margin-right: 25px;
}

.navbar-toggle i {
  font-size: 24px;
}

.navbar-inverse .navbar-toggle {
  border: none;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-brand {
  padding-left: 25px;
}

.logo-mobile {
  width: 104px;
  height: auto;
}

.logo {
  width: 180px;
  height: auto;
}



/* SIDEBAR (NOT the same as navbar. Get it straight!) */

.sidebar {
  top: 120px;
  overflow-y: hidden !important;
  padding:0px !important;
  cursor: pointer;
}

.menu-text {
  font-size: 25px;
  font-weight: bold;
  color: #000;
}

.menu-subtext {
  font-size: 18px;
  font-style: italic;
}

.sidebar-about{
  padding-top: 130px;
}

.sidebar-about, .sidebar-impact, .sidebar-codefi {
  height: 36%;
  width: 100%;
  left:0px;
  border-bottom: 1px solid #d3d3d3;
  position: absolute;
  top:0;
  transition: all 0.75s ease;
  background-color: #f5f5f5;
  z-index: 100;
}

.sidebar-programs {
  height: 50%;
  width: 100%;
  left:0px;
  border-bottom: 1px solid #d3d3d3;
  position: absolute;
  top:0;
}

.sidebar-connect {
  height: 50%;
  width: 100%;
  left:0px;
  border-bottom: 1px solid #d3d3d3;
  position: absolute;
  bottom:0;
}

.sidebar-about.slideUp{
  top: -36%;
}

.sidebar-spaces, .sidebar-history, .sidebar-marquette {
  height: 28%;
  width: 100%;
  left:0px;
  border-bottom: 1px solid #d3d3d3;
  position: absolute;
  top:36%;
  transition: all 0.75s ease;
  background-color: #f5f5f5;
  z-index: 100;
}

.sidebar-spaces.slideUp{
  top: -36%;
}

.sidebar-spaces.slideDown{
  top: 100%;
}

.sidebar-initiatives, .sidebar-partners, .sidebar-food {
  height: 36%;
  width: 100%;
  left:0px;
  position: absolute;
  top:64%;
  transition: all 0.75s ease;
  background-color: #f5f5f5;
  z-index: 100;
}

.sidebar-initiatives.slideDown{
  top: 136%;
}

.sidebar-about-sub{
  display: none;
  height:100%;
  position:absolute;
  z-index: 10;
  width: 100%;
  top: 0;
  left: 0;
}

.sidebar-spaces-sub{
  display: none;
  height:100%;
  position:absolute;
  z-index: 10;
  width: 100%;
  top: 0;
  left: 0;
}

.sidebar-initiatives-sub{
  display: none;
  height:100%;
  position:absolute;
  z-index: 10;
  width: 100%;
  top: 0;
  left: 0;
}

.collapse-it{
  background-color: #333;
  height:5%;
  display: none;
  position: absolute;
  bottom:0px;
  width: 100%;
  left: 0px;
  z-index:100;
}

.collapse-it h2{
  color:#fff;
  margin-top:5px;
}

/* ELEMENTS WITH COLORS THAT CHANGE BASED ON BODY ID */

/*-----------------------------------------------
ELEMENTS WITH COLORS THAT CHANGE BASED ON BODY ID
-----------------------------------------------*/


#green h1 span {
  border-bottom: 6px solid #72BE49;
}

#green .linklist li a {
  border-top: 6px solid #72BE49;
  box-shadow: inset 0 0 0 0 #72BE49;
}

#green .linklist li a:focus, #green .linklist li a:hover {
  text-decoration: none;
  color: #FFF;
  box-shadow: inset 0 100px 0 0 #72BE49;
}

#green .navbar-inverse .navbar-nav > li > a:focus, #green .navbar-inverse .navbar-nav > li > a:hover, #green .navbar-toggle:hover {
  color: #72BE49;
  -webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	transition: all ease 0.5s;
}

#green .nav-active span {
  padding-bottom: 10px;
  border-bottom: 6px solid #72BE49;
}

#green .btn-marquette:focus, #green .btn-marquette:hover {
  background-color: #72BE49;
  -webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	transition: all ease 0.5s;
}

#green .carousel-control:focus i, .carousel-control:hover i {
  color: #72BE49;
}

#yellow h1 span {
  border-bottom: 6px solid #FFC200;
}

#yellow .linklist li a {
  border-top: 6px solid #FFC200;
  box-shadow: inset 0 0 0 0 #FFC200;
}

#yellow .linklist li a:focus, #yellow .linklist li a:hover {
  text-decoration: none;
  color: #FFF;
  box-shadow: inset 0 100px 0 0 #FFC200;
}

#yellow .navbar-inverse .navbar-nav > li > a:focus, #yellow .navbar-inverse .navbar-nav > li > a:hover, #yellow .navbar-toggle:hover {
  color: #FFC200;
  -webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	transition: all ease 0.5s;
}

#yellow .nav-active span {
  padding-bottom: 10px;
  border-bottom: 6px solid #FFC200;
}

#yellow .btn-marquette:focus, #yellow .btn-marquette:hover {
  background-color: #FFC200;
  -webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	transition: all ease 0.5s;
}

#yellow .carousel-control:focus i, .carousel-control:hover i {
  color: #FFC200;
}

#red h1 span {
  border-bottom: 6px solid #EC5D57;
}

#red .linklist li a {
  border-top: 6px solid #EC5D57;
  box-shadow: inset 0 0 0 0 #EC5D57;
}

#red .linklist li a:focus, #red .linklist li a:hover {
  text-decoration: none;
  color: #FFF;
  box-shadow: inset 0 100px 0 0 #EC5D57;
}

#red .navbar-inverse .navbar-nav > li > a:focus, #red .navbar-inverse .navbar-nav > li > a:hover, #red .navbar-toggle:hover {
  color: #EC5D57;
  -webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	transition: all ease 0.5s;
}

#red .nav-active span {
  padding-bottom: 10px;
  border-bottom: 6px solid #EC5D57;
}

#red .btn-marquette:focus, #red .btn-marquette:hover {
  background-color: #EC5D57;
  -webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	transition: all ease 0.5s;
}

#red .carousel-control:focus i, .carousel-control:hover i {
  color: #EC5D57;
}


/*----
MODALS
----*/

.sidebar-right .thumbnail {
  cursor: pointer;
}

.close {
  font-size: 32px;
}

.modal-header {
  padding: 15px 20px;
}

.modal-body p {
  font-size: 16px;
  margin-top: 15px;
}

.btn-marquette {
  background-color: #231F20;
  color: #EEE;
  text-transform: uppercase;
  font-weight: 600;
}

.btn-marquette:focus, .btn-marquette:hover {
  color: #EEE;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


/*-------
CAROUSELS
-------*/

.carousel-control {
  opacity: 1;
  width: 5%;
}

.carousel-control:focus, .carousel-control:hover {
  opacity: 1;
}

.carousel-control i {
  position: absolute;
  top: 42%;
  z-index: 5;
  display: inline-block;
  color: #231F20;
  font-size: 48px;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
}

.carousel-control.left i {
  left: 0;
}

.carousel-control.right i {
  right: 0;
}


/*------------------------------------------------
SIDEBAR (NOT the same as navbar. Get it straight!)
------------------------------------------------*/

.sidebar {
  display: none; /* Hide for mobile, show later */
  top: 120px;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 120px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 60px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


/*--------------------------------------------------------------------------------------------------
FROM MONTREAL TO MEMPHIS (PARLEZ VOUS FRANCAIS?), TELL ALL THE GIRLS THE MEDIA QUERIES' ON THEIR WAY
--------------------------------------------------------------------------------------------------*/

@media (min-width: 768px) {

  body {
    padding-top: 120px;
    font-size: 20px;
    line-height: 28px;
  }

  h1 {
    font-size: 54px;
  }

  #navbar {
    margin-top: 35px;
  }

  .navbar {
    height: 120px;
  }

  .navbar-brand {
    padding: 0 60px;
  }

  .linklist li {
    display: inline-block;
    margin-right: 40px;
  }

  .carousel-control i {
    top: 40%;
  }

  .carousel-control.left i {
    left: -20px;
  }

  .carousel-control.right i {
    right: -20px;
  }

}

@media (min-width: 768px) and (max-width: 991px) {

  .logo {
    width: 130px;
    height: auto;
  }

  .nav > li > a {
    padding-right: 20px;
    letter-spacing: 3px;
  }

  .navbar a {
    font-size: 13px;
  }

  .navbar-brand {
    padding: 0 15px 0 25px;
  }

  .navbar-right {
    margin-right: 25px;
  }

  .navbar-right > li > a {
    font-size: 18px;
    padding-right: 5px;
    padding-top: 15px;
  }

}

@media (min-width: 992px) {

  .sidebar-right {
    border-left: 1px solid #BBB;
    height: 100%;
    margin-top: 25px;
    padding-left:25px;
  }

}

@media (min-width: 992px) and (max-width: 1199px) {

  .nav > li > a {
    padding-right: 20px;
  }

  .navbar a {
    font-size: 16px;
  }

  .navbar-brand {
    padding: 0 25px;
  }

  .navbar-right {
    margin-right: 25px;
    padding-top: 5px;
  }

  .navbar-right > li > a {
    font-size: 20px;
    padding-right: 15px;
  }

}

@media (min-width: 1200px) {

  .navbar-right {
    margin-right: 50px;
  }

}
